# Maven
target/
.m2/

# IDE
.idea/
.vscode/
*.swp
*.swo
*.swn
*.iml
.DS_Store

# Build
*.class
*.jar
*.war
*.ear

# Logs
logs/
*.log

# Spring Boot
application-*.properties

# Environment Variables
.env
.env.local
.env.*.local
src/main/resources/firebase-key.json
src/main/resources/firebase-key.json.txt
src/main/resources/firebase-service-account.json

